$nancalui-global-bg: var(--nancalui-global-bg, #f3f6f8);
$nancalui-global-bg-normal: var(--nancalui-global-bg-normal, #ffffff);
$nancalui-base-bg: var(--nancalui-base-bg, #ffffff);
$nancalui-base-bg-dark: var(--nancalui-base-bg-dark, #333854);
$nancalui-brand: var(--nancalui-brand, #447DFD);
$nancalui-brand-foil: var(--nancalui-brand-foil, #859bff);
$nancalui-brand-hover: var(--nancalui-brand-hover, #6E9EFF);
$nancalui-brand-active: var(--nancalui-brand-active, #2F5CD6);
$nancalui-brand-active-focus: var(--nancalui-brand-active-focus, #0069AF);
$nancalui-contrast: var(--nancalui-contrast, #F63838);
$nancalui-text: var(--nancalui-text, #252b3a);
$nancalui-text-weak: var(--nancalui-text-weak, #575d6c);
$nancalui-aide-text: var(--nancalui-aide-text, #8a8e99);
$nancalui-aide-text-stress: var(--nancalui-aide-text-stress, #575d6c);
$nancalui-placeholder: var(--nancalui-placeholder, #8a8e99);
$nancalui-light-text: var(--nancalui-light-text, #ffffff);
$nancalui-dark-text: var(--nancalui-dark-text, #252b3a);
$nancalui-link: var(--nancalui-link, #2F5CD6);
$nancalui-link-active: var(--nancalui-link-active, #2F5CD6);
$nancalui-link-light: var(--nancalui-link-light, #67C7FF);
$nancalui-link-light-active: var(--nancalui-link-light-active, #94DFFF);
$nancalui-line: var(--nancalui-line, #C8C9CC);
$nancalui-dividing-line: var(--nancalui-dividing-line, #e1e1e1);
$nancalui-block: var(--nancalui-block, #ffffff);
$nancalui-area: var(--nancalui-area, #f8f8f8);
$nancalui-danger: var(--nancalui-danger, #f66f6a);
$nancalui-warning: var(--nancalui-warning, #fac20a);
$nancalui-waiting: var(--nancalui-waiting, #9faad7);
$nancalui-success: var(--nancalui-success, #50d4ab);
$nancalui-info: var(--nancalui-info, #447DFD);
$nancalui-initial: var(--nancalui-initial, #F0F7FF);
$nancalui-unavailable: var(--nancalui-unavailable, #F7F8FA);
$nancalui-shadow: var(--nancalui-shadow, rgba(0, 0, 0, 0.2));
$nancalui-light-shadow: var(--nancalui-light-shadow, rgba(0, 0, 0, 0.1));
$nancalui-icon-text: var(--nancalui-icon-text, #252b3a);
$nancalui-icon-bg: var(--nancalui-icon-bg, #ffffff);
$nancalui-icon-fill: var(--nancalui-icon-fill, #d3d5d9);
$nancalui-icon-fill-hover: var(--nancalui-icon-fill-hover, #adb5ce);
$nancalui-icon-fill-active: var(--nancalui-icon-fill-active, #447DFD);
$nancalui-icon-fill-active-hover: var(--nancalui-icon-fill-active-hover, #2F5CD6);
$nancalui-form-control-line: var(--nancalui-form-control-line, #C8C9CC);
$nancalui-form-control-line-hover: var(--nancalui-form-control-line-hover, #575d6c);
$nancalui-form-control-line-active: var(--nancalui-form-control-line-active, #447DFD);
$nancalui-form-control-line-active-hover: var(--nancalui-form-control-line-active-hover, #0069AF);
$nancalui-list-item-active-bg: var(--nancalui-list-item-active-bg, #447DFD);
$nancalui-list-item-active-text: var(--nancalui-list-item-active-text, #ffffff);
$nancalui-list-item-active-hover-bg: var(--nancalui-list-item-active-hover-bg, #2F5CD6);
$nancalui-list-item-hover-bg: var(--nancalui-list-item-hover-bg, #f2f5fc);
$nancalui-list-item-hover-text: var(--nancalui-list-item-hover-text, #2F5CD6);
$nancalui-list-item-selected-bg: var(--nancalui-list-item-selected-bg, #F0F7FF);
$nancalui-list-item-strip-bg: var(--nancalui-list-item-strip-bg, #f2f5fc);
$nancalui-disabled-bg: var(--nancalui-disabled-bg, #F7F8FA);
$nancalui-disabled-line: var(--nancalui-disabled-line, #e1e1e1);
$nancalui-disabled-text: var(--nancalui-disabled-text, #C8C9CC);
$nancalui-primary-disabled: var(--nancalui-primary-disabled, #94DFFF);
$nancalui-icon-fill-active-disabled: var(--nancalui-icon-fill-active-disabled, #94DFFF);
$nancalui-label-bg: var(--nancalui-label-bg, #eef0f5);
$nancalui-connected-overlay-bg: var(--nancalui-connected-overlay-bg, #ffffff);
$nancalui-connected-overlay-line: var(--nancalui-connected-overlay-line, #2F5CD6);
$nancalui-fullscreen-overlay-bg: var(--nancalui-fullscreen-overlay-bg, #ffffff);
$nancalui-feedback-overlay-bg: var(--nancalui-feedback-overlay-bg, #464d6e);
$nancalui-feedback-overlay-text: var(--nancalui-feedback-overlay-text, #e1e1e1);
$nancalui-embed-search-bg: var(--nancalui-embed-search-bg, #f2f5fc);
$nancalui-embed-search-bg-hover: var(--nancalui-embed-search-bg-hover, #eef0f5);
$nancalui-float-block-shadow: var(--nancalui-float-block-shadow, rgba(94, 124, 224, 0.3));
$nancalui-highlight-overlay: var(--nancalui-highlight-overlay, rgba(255, 255, 255, 0.8));
$nancalui-range-item-hover-bg: var(--nancalui-range-item-hover-bg, #F0F7FF);
$nancalui-primary: var(--nancalui-primary, #447DFD);
$nancalui-primary-hover: var(--nancalui-primary-hover, #6E9EFF);
$nancalui-primary-active: var(--nancalui-primary-active, #0069AF);
$nancalui-contrast-hover: var(--nancalui-contrast-hover, #d64a52);
$nancalui-contrast-active: var(--nancalui-contrast-active, #E72B2D);
$nancalui-danger-line: var(--nancalui-danger-line, #f66f6a);
$nancalui-danger-bg: var(--nancalui-danger-bg, #ffeeed);
$nancalui-warning-line: var(--nancalui-warning-line, #fa9841);
$nancalui-warning-bg: var(--nancalui-warning-bg, #fff3e8);
$nancalui-info-line: var(--nancalui-info-line, #447DFD);
$nancalui-info-bg: var(--nancalui-info-bg, #f2f5fc);
$nancalui-success-line: var(--nancalui-success-line, #75EBC2);
$nancalui-success-bg: var(--nancalui-success-bg, #edfff9);
$nancalui-primary-line: var(--nancalui-primary-line, #447DFD);
$nancalui-primary-bg: var(--nancalui-primary-bg, #f2f5fc);
$nancalui-default-line: var(--nancalui-default-line, #447DFD);
$nancalui-default-bg: var(--nancalui-default-bg, #f3f6f8);
$nancalui-font-size: var(--nancalui-font-size, 12px);
$nancalui-font-size-card-title: var(--nancalui-font-size-card-title, 16px);
$nancalui-font-size-page-title: var(--nancalui-font-size-page-title, 16px);
$nancalui-font-size-modal-title: var(--nancalui-font-size-modal-title, 18px);
$nancalui-font-size-price: var(--nancalui-font-size-price, 20px);
$nancalui-font-size-data-overview: var(--nancalui-font-size-data-overview, 24px);
$nancalui-font-size-icon: var(--nancalui-font-size-icon, 16px);
$nancalui-font-size-sm: var(--nancalui-font-size-sm, 12px);
$nancalui-font-size-md: var(--nancalui-font-size-md, 12px);
$nancalui-font-size-lg: var(--nancalui-font-size-lg, 16px);
$nancalui-font-title-weight: var(--nancalui-font-title-weight, bold);
$nancalui-font-content-weight: var(--nancalui-font-content-weight, normal);
$nancalui-line-height-base: var(--nancalui-line-height-base, 1.5);
$nancalui-border-radius: var(--nancalui-border-radius, 2px);
$nancalui-border-radius-feedback: var(--nancalui-border-radius-feedback, 4px);
$nancalui-border-radius-card: var(--nancalui-border-radius-card, 6px);
$nancalui-shadow-length-base: var(--nancalui-shadow-length-base, 0 1px 4px 0);
$nancalui-shadow-length-slide-left: var(--nancalui-shadow-length-slide-left, -2px 0 8px 0);
$nancalui-shadow-length-slide-right: var(--nancalui-shadow-length-slide-right, 2px 0 8px 0);
$nancalui-shadow-length-connected-overlay: var(--nancalui-shadow-length-connected-overlay, 0 2px 8px 0);
$nancalui-shadow-length-hover: var(--nancalui-shadow-length-hover, 0 4px 16px 0);
$nancalui-shadow-length-feedback-overlay: var(--nancalui-shadow-length-feedback-overlay, 0 4px 16px 0);
$nancalui-shadow-fullscreen-overlay: var(--nancalui-shadow-fullscreen-overlay, 0 8px 40px 0);
$nancalui-animation-duration-slow: var(--nancalui-animation-duration-slow, 300ms);
$nancalui-animation-duration-base: var(--nancalui-animation-duration-base, 200ms);
$nancalui-animation-duration-fast: var(--nancalui-animation-duration-fast, 100ms);
$nancalui-animation-ease-in: var(--nancalui-animation-ease-in, cubic-bezier(0.5, 0, 0.84, 0.25));
$nancalui-animation-ease-out: var(--nancalui-animation-ease-out, cubic-bezier(0.16, 0.75, 0.5, 1));
$nancalui-animation-ease-in-out: var(--nancalui-animation-ease-in-out, cubic-bezier(0.5, 0.05, 0.5, 0.95));
$nancalui-animation-ease-in-smooth: var(--nancalui-animation-ease-in-smooth, cubic-bezier(0.645, 0.045, 0.355, 1));
$nancalui-animation-linear: var(--nancalui-animation-linear, cubic-bezier(0, 0, 1, 1));
$nancalui-z-index-full-page-overlay: var(--nancalui-z-index-full-page-overlay, 1080);
$nancalui-z-index-pop-up: var(--nancalui-z-index-pop-up, 1060);
$nancalui-z-index-dropdown: var(--nancalui-z-index-dropdown, 1062);
$nancalui-z-index-modal: var(--nancalui-z-index-modal, 1070);
$nancalui-z-index-drawer: var(--nancalui-z-index-drawer, 1040);
$nancalui-z-index-framework: var(--nancalui-z-index-framework, 1000)