@import '../../styles-var/nancalui-var.scss';

$scrollbar-track-size: 15px;
$scrollbar-track-border_size: 1px;
$scrollbar-track-border_color: #e5e6eb;
$scrollbar-track-bg_color: #f7f8fa;
$scrollbar-thumb-bar-size: 9px;
$scrollbar-thumb-bar-border_radius: 6px;
$scrollbar-thumb-bar-bg_color: #c9cdd4;
$scrollbar-thumb-bar-bg_color_hover: #86909c;
