// Border Radius 圆角

$nancalui-border-radius: var(--nancalui-border-radius, 2px); //一般圆角
$nancalui-border-radius-feedback: var(--nancalui-border-radius-feedback, 4px); //反馈类圆角
$nancalui-border-radius-card: var(--nancalui-border-radius-card, 6px); //卡片,弹窗圆角
$nancalui-border-radius-full: var(--nancalui-border-radius-full, 100px); //暂不对外开放，用于开关，进度条等组件的圆角自适应宽高
